<aside class="sidebar">
  <nav>
    <ul>
      <li><a routerLink="/home/inicio">Inicio</a></li>
      <li><a routerLink="/home/table">Productos</a></li>
      <li>
        <a>Compras</a>
        <ul class="submenu">
          <li><a routerLink="/home/ccompra">Crear</a></li>
          <li><a routerLink="/home/lcompra">Listar</a></li>
        </ul>
      </li>
      <li>
        <a>Ventas</a>
        <ul class="submenu">
          <li><a routerLink="/home/cventa">Crear</a></li>
          <li><a routerLink="/home/lventa">Listar</a></li>
        </ul>
      </li>
      <li><a routerLink="/home/proveedores">Proveedores</a></li>
      <li><a routerLink="/home/usuarios">Usuarios</a></li>
    </ul>
  </nav>
</aside>


