<div class="crear-Venta">
    <h2>Crear Venta</h2>
  
    <div class="form-group">
      <label for="idProducto">ID Producto</label>
      <input type="number" [(ngModel)]="idProducto" placeholder="ID del Producto" />
    </div>
  
    <div class="form-group">
      <label for="cantidadVenta">Cantidad</label>
      <input type="number" [(ngModel)]="cantidadVenta" placeholder="Cantidad de Producto" />
    </div>
  
    <button (click)="agregarDetalle()">Agregar Detalle</button>
  
    <div class="detalles-lista">
      <h3>Detalles de la Venta</h3>
      <table>
        <tr>
          <th>ID Producto</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Total</th>
        </tr>
        <tr *ngFor="let detalle of detalles">
          <td>{{ detalle.idProducto }}</td>
          <td>{{ detalle.cantidadVenta }}</td>
          <td>{{ detalle.precioUnitario }}</td>
          <td>{{ detalle.cantidadVenta * detalle.precioUnitario | currency }}</td>
        </tr>
      </table>
      <h4>Total de la Venta: {{ totalVenta | currency }}</h4>
    </div>
  
    <button (click)="guardarVenta()">Guardar Venta</button>
  </div>